<h2 class="text-center">INSERTAR NEW REGISTRO</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate >

    <div class="mb-3"  >
        <label class="form-label">Nombre</label>
        <input formControlName="name" type="text" class="form-control" required>      
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido Paterno</label>
        <input formControlName="apellido_p" type="text" class="form-control" required>      
    </div>
    <div class="mb-3">
        <label class="form-label">Apellido Materno</label>
        <input formControlName="apellido_m" type="text" class="form-control" required>       
    </div>
    
    <button [disabled]="!postForm.valid" type="submit" class="btn btn-primary">INSERTAR</button>

</form>

